@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; padding: 0; margin: 0; }

html { scroll-behavior: auto !important; }

body { @apply bg-black_bg m-0 p-0 font-anek_latin not-italic text-14 text-white_txt font-normal }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

textarea { @apply resize-none }

input, select, textarea, button { outline: none; box-shadow: none; font-family: inherit; }

input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-p,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=text]::-ms-placeholder,
input[type=search]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

button,
input[type="submit"],
a { @apply no-underline ease-in-out duration-300 transition-all }

button,
input[type="submit"],
a { outline: none !important; }

a:hover { @apply no-underline }

h1, h2, h3, h4, h5, h6, p { @apply m-0 p-0 }

ul li { @apply list-none }

body.open_nav { @apply overflow-hidden }

.main_wrap { @apply overflow-hidden }


.menu_btn a:hover:after { left: calc(100% - 20px - 10px); }
.navigation_main .menu_btn { @apply pl-10 }


.sticky_header { @apply bg-white_bg }
.sticky_header .logo .defult_logo { @apply opacity-0 invisible }
.sticky_header .logo .stiky_logo { @apply opacity-100 visible }
.sticky_header .main-menu li a { @apply text-black_txt }
.sticky_header .main-menu li a:hover { @apply text-orange_txt }


.ham-menu-btn span::before,
.ham-menu-btn span::after { -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .15s, 0s; transition-delay: .15s, 0s; }
.ham-menu-btn span::before { -webkit-transition-property: top, transform; transition-property: top, transform; }
.ham-menu-btn span::after { -webkit-transition-property: bottom, transform; transition-property: bottom, transform; }
.ham-menu-btn.active span { background: none !important; }
.ham-menu-btn.active span::before,
.ham-menu-btn.active span::after { -webkit-transition-delay: 0s, .15s; transition-delay: 0s, .2s; }
.ham-menu-btn.active span::before { @apply top-0 -rotate-45 }
.ham-menu-btn.active span::after { @apply bottom-0 rotate-45 }
header.sticky .ham-menu-btn span{ @apply bg-black_bg } 
header.sticky .ham-menu-btn span::before,
header.sticky .ham-menu-btn span::after { @apply bg-black_bg }
.ham-menu-btn.active span::after { @apply w-full }


.home_banner_wapper .switer_btn .group + .group { @apply ml-3 }
.home_banner_wapper .switer_btn .group svg circle { @apply transition-all duration-300 ease-in-out }
.home_banner_wapper .switer_btn .group svg:hover circle { fill-opacity: 1; }
.home_banner_wapper .switer_btn .group svg path { @apply transition-all duration-300 ease-in-out }
.home_banner_wapper .switer_btn .group svg:hover path { @apply stroke-orange_bg }
.home_banner_txt .menu_btn { @apply pt-[142px] }


.home_about_left .section_title .menu_btn { @apply pt-[18px] }
.home_about_left .section_title .menu_btn a { @apply bg-transparent rounded-none min-h-[auto] text-orange_txt pt-[2px] pr-0 pl-5 after:bg-orange_bg after:left-0 hover:pr-5 hover:pl-0 }
.home_about_left .section_title .menu_btn a:hover:after { left: calc(100% - 10px); }
.home_about_inner .home_about_center { width: calc(100% - 340px - 292px); }
.about_count_top .about_count_number { width: calc(100% - 47px); }
.about_count_box + .about_count_box { @apply pt-6 mt-6 border-t border-solid border-gray_bg_02 }